---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import GoldDown from '../svgs/Art-Deco-Element-DOWN.svg';
import GoldUp from '../svgs/Art-Deco-Element-UP.svg';
import WelcomeOval from '../images/Welcome-Section.png';
import PlaneIcon from '../svgs/Honeymoon-Icon.svg';
import FundOval from '../images/Honeymoon-Fund-Section.png';
import Countdown from '../components/Countdown';

const pageTitle = 'Caleb + Sabrina';
---
<BaseLayout title={pageTitle}>
    <main class="relative">
        <div 
            id="hero"
            class="flex min-h-[380px] flex-grow bg-cover bg-center shadow drop-shadow-lg md:min-h-[500px] lg:max-h-[920px]"
            style="background-image: url('../images/Home-Page-Hero.jpg');"
        >
            <div class="grid grid-cols-3">
                <div class="col-span-2 flex h-screen">
                    <div class="px-4 md:px-12 lg:px-32 m-auto place-items-center">
                        <h1 class="text-9xl text-white text-center my-4">Caleb & Sabrina</h1>
                        <p class="font-italiana text-6xl uppercase text-white text-center mt-10">Are Tying the Knot</p>
                        <Image 
                            src={GoldDown} 
                            alt="Gold Art Deco Element Downward"
                            class="max-w-sm mx-auto"
                        />
                        <p class="font-italiana text-5xl text-white text-center">Saturday, May 10th, 2025</p>
                        <p class="font-italiana text-5xl text-white text-center mt-2">Cleveland, OH</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-12 mt-14">
                <div class="col-span-5">
                    <Image 
                        src={WelcomeOval}
                        alt="Gold Art Deco Element Downward"
                        class="w-4/5 mx-auto"
                    />   
                </div>
                <div class="col-span-7">
                    <h2 class="text-7xl text-forest">Welcome</h2>
                    <div class="border-b-2 border-gold w-6/12 my-4"></div>
                    <p class="font-montserrat text-forest font-medium text-lg pb-4">We are thrilled to share this exciting journey with you as we prepare to say “I do.” Here, you’ll find all the details about our big day, including digital RSVP and lodging information. We are incredibly grateful for the love and support of our family and friends, and we can’t wait to celebrate this huge moment of our lives with all of you. Thank you for being a part of our love story!</p>
                    <p class="font-montserrat text-forest font-medium text-lg">Saturday, May 10th, 2025</p>
                    <p class="font-montserrat text-forest font-medium text-lg pb-4">The Ballroom at Park Lane - 10510 Park Ln, Cleveland, OH 44106</p>
                    <a href="#">
                        <button class="font-italiana bg-orchid text-white text-base md:text-lg lg:text-xl py-2 px-24 rounded-md">RSVP</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-10">
            <Image 
                src={GoldUp} 
                alt="Gold Art Deco Element Upward"
                class="w-1/3 mx-auto mb-4"
            />
            <p class="font-italiana text-forest text-center text-4xl">The Countdown Is On!</p>
            <h2 class="text-forest text-7xl text-center">Celebration Coming In</h2>
            <!-- ####### COUNTDOWN TIMER ####### -->
            <Countdown client:only />
            <Image 
                src={GoldDown} 
                alt="Gold Art Deco Element Downward"
                class="w-1/3 mx-auto mt-4"
            />
        </div>
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-12 mt-14">
                <div class="col-span-7">
                    <h2 class="text-7xl text-forest">In Lieu of Gifts</h2>
                    <div class="border-b-2 border-gold w-6/12 my-4"></div>
                    <h3 class="font-italiana text-forest text-3xl mb-4">Honeymoon Fund</h3>
                    <p class="font-montserrat text-forest">Your presence at our wedding is the only gift that we expect. To share in our biggest moment is more than we could ever ask. If you would still like to give a gift, we are requesting contributions to our honeymoon instead of items from a registry. Because we have been cohabitating for several years, we have accumulated more household belongings than we know what to do with!</p>
                    <div class="flex flex-wrap items-center my-6">
                        <Image 
                            src={PlaneIcon} 
                            alt="honeymoon heart airplane icon"
                            class="w-28"
                        />
                        <a href="#">
                            <button class="font-italiana bg-orchid text-white text-base md:text-lg lg:text-xl py-2 px-6 ml-8 rounded-md">Venmo: @Sabrina-Taylor-91</button>
                        </a>
                    </div>
                </div>
                <div class="col-span-5">
                    <Image 
                        src={FundOval}
                        alt="Gold Art Deco Element Downward"
                        class="w-4/5 mx-auto"
                    />
                </div>
            </div>
        </div>
    </main>
</BaseLayout>