---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Venue from '../images/Ballroom-at-parklane.png';
import GoldDown from '../svgs/Art-Deco-Element-DOWN.svg';
import GoldUp from '../svgs/Art-Deco-Element-UP.svg';
import ReactWeather, { useOpenWeather } from 'react-open-weather';

const pageTitle = 'Wedding Info | Caleb + Sabrina';

// const App = () => {
//   const { data, isLoading, errorMessage } = useOpenWeather({
//     key: '1694fd409791ede6c14f47f4dac3ccc5',
//     lat: '41.4993',
//     lon: '81.6944',
//     lang: 'en',
//     unit: 'imperial', // values are (metric, standard, imperial)
//   });
//   return (
//     <ReactWeather
//       isLoading={isLoading}
//       errorMessage={errorMessage}
//       data={data}
//       lang="en"
//       locationLabel="Cleveland, OH"
//       unitsLabels={{ temperature: 'F', windSpeed: 'M/h' }}
//       showForecast
//     />
//   );
// };
---
<BaseLayout title={pageTitle}>
    <div class="relative">
        <picture>
            <source media="(max-width: 480px)" srcset="../images/Wedding-Info-Hero-Mobile.jpg" />
            <source media="(max-width: 810px)" srcset="../images/Wedding-Info-Hero-Tablet.jpg" />
            <source media="(min-width: 811px)" srcset="../images/Wedding-Info-Hero-Desktop.jpg" />
            <img src="../images/Wedding-Info-Hero-Desktop.jpg" />
        </picture>
        <div class="absolute top-0 left-0 w-3/5">
            <div class="grid grid-cols-2 min-h-[480px] md:min-h-[300px] lg:min-h-[700px] px-4 md:px-8 lg:px-32">
                <div class="col-span-2 place-content-center -mt-28">
                    <div class="font-dagtton text-white text-stroke-white text-shadow text-9xl">Wedding</div>
                    <div class="font-dagtton text-white text-stroke-white text-shadow text-9xl pl-12 md:pl-20 lg:pl-40 -mt-28">Information</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-12 mt-12 lg:mt-14">
            <div class="col-span-12 md:col-span-5">
                <Image 
                    src={Venue}
                    alt="Gold Art Deco Element Downward"
                    class="w-4/5 mx-auto mb-12 lg:mb-14"
                />   
            </div>
            <div class="col-span-12 md:col-span-7">
                <h2 class="font-dagtton text-4xl md:text-5xl lg:text-7xl text-forest text-stroke mb-10">The Ballroom at Park Lane</h2>
                <div class="border-b-2 border-gold w-full my-2 lg:my-4"></div>
                <div class="mb-4 mt-8">
                  <a 
                    href="https://maps.app.goo.gl/KU5FKdWUGtWHwH6t6"
                    class="font-montserrat text-orchid hover:text-wine text-stroke-wine font-medium text-lg md:text-xl lg:text-3xl underline">
                    10510 Park Ln, Cleveland, OH 44106
                  </a>  
                </div>
                <p class="font-montserrat text-forest font-medium text-xl py-4">Originally built in 1923 as a luxury hotel and speakeasy for the influential and elite, The Ballroom at Park Lane has changed with the times to accentuate America’s most pivotal eras. As a concert venue in the ‘60s, it hosted folk legends Bob Dylan and Arlo Guthrie. Today, it serves as the backdrop for Cleveland’s most talked about weddings and events.</p>
                <p class="font-montserrat text-forest font-medium text-xl pb-4">Because Cleveland weather is wildly unpredictable – even in May – the entire wedding (ceremony, cocktail hour, and reception) will be indoors at the Ballroom at Park Lane in University Circle.</p>
            </div>
        </div>
    </div>
    <div class="mt-16 mb-28">
        <Image 
            src={GoldUp} 
            alt="Gold Art Deco Element Upward"
            class="w-3/4 md:w-1/2 lg:w-1/3 mx-auto mb-4"
        />
        <div class="w-4/5 lg:w-2/5 mx-auto">
            <p class="font-montserrat text-forest text-center text-2xl font-bold pb-4">Caleb and Sabrina’s wedding will be held at the Ballroom at Park Lane on Saturday, May 10th, 2025 at 4:00pm.</p>
            <p class="font-montserrat text-forest text-center text-2xl font-bold pb-4">After the ceremony, guest will enjoy a cocktail hour with hors d’oerves and drinks.</p>
            <p class="font-montserrat text-forest text-center text-2xl font-bold pb-4">Following the cocktail hour, we will celebrate with a reception complete with a buffet dinner and dancing until 10:00pm.</p>
        </div>
        <Image 
            src={GoldDown} 
            alt="Gold Art Deco Element Downward"
            class="w-3/4 md:w-1/2 lg:w-1/3 mx-auto mt-4"
        />
    </div>
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-12 mt-14">
            <div class="col-span-12 md:col-span-7">
                <h2 class="font-dagtton text-5xl lg:text-7xl text-forest text-stroke mb-12">Where to Stay</h2>
                <div class="border-b-2 border-gold w-4/5 my-4"></div>
                <p class="font-montserrat text-forest text-xl font-medium">Located directly west across the street from the Ballroom at Park Lane is a Residence Inn, where a room block will be reserved for our guests. Other nearby hotels include:</p>
                <ul class="ml-12 pt-4">
                    <li class="list-disc font-montserrat text-forest text-xl font-medium"><a href="https://maps.app.goo.gl/TuuRZaWE63VVcPtr8">InterContinental Cleveland</a> – 0.6 miles</li>
                    <li class="list-disc font-montserrat text-forest text-xl font-medium"><a href="https://maps.app.goo.gl/yV5CL7FuDEWfqyL59">Courtyard Cleveland University Circle</a> – 0.8 miles</li>
                    <li class="list-disc font-montserrat text-forest text-xl font-medium"><a href="https://maps.app.goo.gl/B63KyDp3xYbY4CMG8">InterContinental Hotel Suites Cleveland</a> – 1.1 miles</li>
                </ul>
            </div>
            <div class="col-span-12 md:col-span-5">
                <!-- ####### WEATHER WIDGET ####### -->
                
            </div>
        </div>
    </div>
</BaseLayout>